In [1]:
#IMPORTING REQUIRED MODULES

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#reading required data files

newdf=pd.read_excel(r'DDW-C18-0000.xlsx') #population by bilingualism , trilinguaalism , age
c14=pd.read_excel(r'DDW-0000C-14.xls') #POPULATION IN FIVE YEAR AGE-GROUP BY RESIDENCE AND SEX

In [3]:
#renaming the columns in newdf

newnames=['statecode','districtcode','state','type','agegroup','2.persons','2.males','2.females','3.persons','3.males','3.females']
newdf.columns=newnames

In [4]:
#removing the rows that contain metadata

newdf=newdf[5:]

#choosing rows that have 'agegroup' not equal to total and 'type' as total

newdf=newdf[newdf['type']=='Total']
newdf=newdf[newdf['agegroup']!='Total']

In [5]:
#selecting only the required columns

newdf=newdf.iloc[:,[0,4,6,7,9,10]]

#printing the selected column names

print(newdf.columns)

Index(['statecode', 'agegroup', '2.males', '2.females', '3.males',
       '3.females'],
      dtype='object')

In [6]:
#converting string to numeric values

newdf['2.males']=pd.to_numeric(newdf['2.males'])
newdf['2.females']=pd.to_numeric(newdf['2.females'])

newdf['3.males']=pd.to_numeric(newdf['3.males'])
newdf['3.females']=pd.to_numeric(newdf['3.females'])

In [7]:
#selecting only required columns from c14 data frame

c14=c14.iloc[:,[1,4,6,7]]

In [8]:
#renaming the selected columns

c14.columns=['statecode','agegroup','males','females']

In [9]:
#removing the rows that contain metadata

c14=c14.iloc[6:,:]

In [10]:
#removing the rows in newdf that contain age as 'age not stated'

newdf=newdf[newdf['agegroup']!='Age not stated']

In [11]:
#removing the age groups from c14 that are not present in newdf(for consistency)

c14=c14[c14['agegroup']!='Age not stated']
c14=c14[c14['agegroup']!='All ages']
c14=c14[c14['agegroup']!='0-4']

In [12]:
#selecting all the rows from c14 that have age group between 30 to 49 to make them as a single group 30-49

x=c14[c14['agegroup']=='30-34']
x=x.append(c14[c14['agegroup']=='35-39'])
x=x.append(c14[c14['agegroup']=='40-44'])
x=x.append(c14[c14['agegroup']=='45-49'])

#selecting only the required columns from x

x=x.iloc[:,[0,2,3]]

#convertig string to numeric value

x['males']=pd.to_numeric(x['males'])
x['females']=pd.to_numeric(x['females'])

#grouped data frame contains state code and the total persons present in age group 30-49 in that state

grouped=x.groupby(by=['statecode'],as_index=False).agg(func='sum')

#adding a new column to grouped data frame 'age' as 30-49

grouped['agegroup']='30-49'

#reordering the columns in grouped (so that it can we merged later with other dataframe)

grouped=grouped[['statecode', 'agegroup', 'males', 'females']]

#after reordering , printing current columns in grouped

print(grouped.columns)

Index(['statecode', 'agegroup', 'males', 'females'], dtype='object')

In [13]:
#selecting all the rows from c14 that have age group between 50 to 69 to make them as a single group 50-69

x1=c14[c14['agegroup']=='50-54']
x1=x1.append(c14[c14['agegroup']=='55-59'])
x1=x1.append(c14[c14['agegroup']=='60-64'])
x1=x1.append(c14[c14['agegroup']=='65-69'])

#selecting only the required columns from x1

x1=x1.iloc[:,[0,2,3]]

#convertig string to numeric value

x1['males']=pd.to_numeric(x1['males'])
x1['females']=pd.to_numeric(x1['females'])

#grouped1 data frame contains state code and the total persons present in age group 50-69 in that state

grouped1=x1.groupby(by=['statecode'],as_index=False).agg(func='sum')

#adding a new column to grouped1 data frame 'age' as 50-69

grouped1['agegroup']='50-69'

#reordering the columns in grouped1 (so that it can we merged later with other dataframe)

grouped1=grouped1[['statecode', 'agegroup', 'males', 'females']]

#after reordering , printing current columns in grouped1

print(grouped1.columns)

Index(['statecode', 'agegroup', 'males', 'females'], dtype='object')

In [14]:
#selecting all the rows from c14 that have age as 70+ to make them as a single group

x2=c14[c14['agegroup']=='70-74']
x2=x2.append(c14[c14['agegroup']=='75-79'])
x2=x2.append(c14[c14['agegroup']=='80+'])

#selecting only the required columns from x2

x2=x2.iloc[:,[0,2,3]]

#convertig string to numeric value

x2['males']=pd.to_numeric(x2['males'])
x2['females']=pd.to_numeric(x2['females'])

#grouped2 data frame contains state code and the total persons present in age group 70+ in that state

grouped2=x2.groupby(by=['statecode'],as_index=False).agg(func='sum')

#adding a new column to grouped2 data frame 'age' as 70+

grouped2['agegroup']='70+'

#reordering the columns in grouped2 (so that it can we merged later with other dataframe

grouped2=grouped2[['statecode', 'agegroup', 'males', 'females']]

#after reordering , printing current columns in grouped2

print(grouped2.columns)

Index(['statecode', 'agegroup', 'males', 'females'], dtype='object')

In [15]:
#removing all the rows in c14 that contain age group 30+

c14=c14[c14['agegroup']!='30-34']
c14=c14[c14['agegroup']!='35-39']
c14=c14[c14['agegroup']!='40-44']
c14=c14[c14['agegroup']!='45-49']
c14=c14[c14['agegroup']!='50-54']
c14=c14[c14['agegroup']!='55-59']
c14=c14[c14['agegroup']!='60-64']
c14=c14[c14['agegroup']!='65-69']
c14=c14[c14['agegroup']!='70-74']
c14=c14[c14['agegroup']!='75-79']
c14=c14[c14['agegroup']!='80+']

In [16]:
#appending grouped,grouped1,grouped2 data frame to c14(now the age groups from c14 and newdf are consistent)

c14=c14.append([grouped,grouped1,grouped2])

In [17]:
#merging newdf and c14 based on statecode and agegroup columns(columns with same name in both dataframes)

merged=pd.merge(newdf,c14)

In [18]:
#printing the columns in merged data frame

merged.columns

Index(['statecode', 'agegroup', '2.males', '2.females', '3.males', '3.females',
       'males', 'females'],
      dtype='object')

In [19]:
#converting string to numeric value

merged['males']=pd.to_numeric(merged['males'])
merged['females']=pd.to_numeric(merged['females'])

In [20]:
#calculating the no of males and females speaking only 1 lang and no of people speaking exactly 2 language by

#no of males speaking exactly 2 langs=no of males speaking 2 or more langs in that age group - no of males speaking 3 or more langs in that age group
#no of females speaking exactly 2 langs=no of females speaking 2 or more langs in that age group - no of females speaking 3 or more langs in that age group

merged['exact2males']=merged['2.males']-merged['3.males']
merged['exact2females']=merged['2.females']-merged['3.females']


#no of males speaking exactly 1 lang= total no of males in that age group-no of males speaking 2 or more langs in that age group
#no of females speaking exactly 1 lang= total no of females in that age group-no of females speaking 2 or more langs in that age group

merged['exact1males']=merged['males']-merged['2.males']
merged['exact1females']=merged['females']-merged['2.females']

In [21]:
#calculating the ratio of males and females speaking exactly one, exacly two and three or more languages in a state for each age group

merged['1.maleratio']=merged['exact1males']/merged['males']
merged['1.femaleratio']=merged['exact1females']/merged['females'] 

merged['2.maleratio']=merged['exact2males']/merged['males'] 
merged['2.femaleratio']=merged['exact2females']/merged['females'] 

merged['3.maleratio']=merged['3.males']/merged['males'] 
merged['3.femaleratio']=merged['3.females']/merged['females']

In [22]:
#selecting only the required columns from merged data frame

merged=merged.iloc[:,[0,1,12,13,14,15,16,17]]

In [23]:
#printing the selected columns

merged.columns

Index(['statecode', 'agegroup', '1.maleratio', '1.femaleratio', '2.maleratio',
       '2.femaleratio', '3.maleratio', '3.femaleratio'],
      dtype='object')

In [24]:
#dividing merged dataframe into 3 diff dataframes containg info about male and female percentage speaking 
#exactly one lang and exactly speaking 2 langs and speaking 3 or more langs respectively

merged1=merged.iloc[:,[0,1,2,3]]
merged2=merged.iloc[:,[0,1,-4,-3]]
merged3=merged.iloc[:,[0,1,-2,-1]]

In [25]:
#function that takes data frame that has 'statecode','agegroup','male percent','femalepercent' as columns
#here 'malepercent' can be malepercentage speaking exactly one lang or exactly 2 langs or 3 or more langs based on the dataframe passed
#here 'femalepercent' can be femalepercentage speaking exactly one lang or exactly 2 langs or 3 or more langs based on the dataframe passed

def high(df):
    
    #renaming the columns
    
    df.columns=['statecode','agegroup','malepercent','femalepercent']
    
    #splitting male and female data into two different dataframes
    
    male=df.iloc[:,[0,1,2]]
    female=df.iloc[:,[0,1,3]]
    
    #creating new dataframe 'highmale' and 'highfemale' to store the age group of each state that has the 
    #highest percentage of males speaking based on malepercent column and highest percentage of females speaking
    #based on femalepercent column
    
    highmale=pd.DataFrame()
    highfemale=pd.DataFrame()
    
    #adding statecode column to highmale and high female dataframes
    
    g=merged.groupby(by=['statecode'],as_index=False)
    
    #this list  will store the statecodes
    
    statecode_list=[]
    for i,j in g:
        statecode_list.append(i)
    
    #assigning the statecode_list to statecode column of highmale and high female dataframes
    
    highmale['statecode']=statecode_list
    highfemale['statecode']=statecode_list
    
    #getting the highest percentage value of  age group in males and females
    
    highmale['malepercent']=male.groupby(by=['statecode'],as_index=False).agg(func='max')['malepercent']
    highfemale['femalepercent']=female.groupby(by=['statecode'],as_index=False).agg(func='max')['femalepercent']
    
    #merging the highmale and male data frame to get the finalmale merged dataframe
    #merging the highfemale and female data frame to get the finalfemale merged dataframe
    #the merging happens of statecode and the highest percentage value
    
    finalmalemerged=pd.merge(highmale,male)
    finalfemalemerged=pd.merge(highfemale,female)
    
    #reordering of columns in finalmale merged dataframe
    
    finalmalemerged=finalmalemerged[['statecode','agegroup','malepercent']]
    
    #reordering of columns in final female merged dataframe
    
    finalfemalemerged=finalfemalemerged[['statecode','agegroup','femalepercent']]
    
    #renaming of columns
    
    finalmalemerged.columns=['statecode','males-age-group','males-ratio']
    finalfemalemerged.columns=['statecode','females-age-group','females-ratio']
    
    #merging the finalmale merged and finalfemale merged dataframe
    #merging happens on statecode column(which is common in both )
    
    finalmerged=pd.merge(finalmalemerged,finalfemalemerged)
    
    #returning the final merged dataframe
    
    return finalmerged

In [26]:
#passing merged1.merged2,merged3 as inputs to high function and storing the outputs in output1,output2,output3 respectively

output1=high(merged1)
output2=high(merged2)
output3=high(merged3)

In [27]:
#renaming the columns

output1.columns=['state/ut', 'age-group-males', 'ratio-males', 'age-group-females','ratio-females']
output2.columns=['state/ut', 'age-group-males', 'ratio-males', 'age-group-females','ratio-females']
output3.columns=['state/ut', 'age-group-males', 'ratio-males', 'age-group-females','ratio-females']

In [28]:
#writing output dataframes to their respective csv files

output3.to_csv('age-gender-a.csv',index=False)
output2.to_csv('age-gender-b.csv',index=False)
output1.to_csv('age-gender-c.csv',index=False)